bot {
  nick: Hax-v2
  ignores: [RCMP, yurbnurb, rublets]
  autojoin: ["#codeblock"]
  verbose: true
  comchar: "."

  server: irc.tenthbit.net
  port: 6667
  password: ""

  authenticate {
    to: nickserv
    with: identify hax YourPassw0rd
  }

  database {
    jdbc: "jdbc:sqlite::memory:"
    driver: "org.sqlite.JDBC"
  }

}
